@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.input {
  @apply rounded-sm bg-[#ffffff80] md:bg-gray-100 border border-gray-300 outline-none px-2  focus-within:ring-2  ring-blue-400 transition ease-in-out;
}
.link {
  @apply text-blue-900 hover:underline cursor-pointer;
}

.bg-gradient {
  background: linear-gradient(-45deg, #03009c, #0009bc, #065470, #33000f2d);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.nav-elm {
  @apply p-2 rounded-md hover:shadow-sm hover:bg-blue-200 transition-all ease-in-out cursor-pointer;
}
.active {
  @apply bg-gradient-to-r from-blue-700 to-blue-500 text-white;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
